.backBtn {
  font: inherit;
  display: block;
  background-color: transparent;
  border: none;
  text-shadow: none;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.5s;
  outline: none;
  margin-bottom: 20px;

  &:hover,
  &:focus-visible {
    opacity: 0.5;
  }
}
